html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1REM = 10px */
}
*, *:before, *:after {
    box-sizing: inherit;
}
body {
    font-family: 'Raleway', sans-serif;
    font-size: 1.6rem;
    line-height: 2;
}
/* Globales */
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
    margin: 0 0 2rem 0;
}
h1 {
    font-size: 3.8rem;
}
@media (min-width: 768px) {
    h1 {
        font-size: 5rem;
    }
}
h2 {
    font-size: 3.2rem;
}
@media (min-width: 768px) {
    h2 {
        font-size: 4rem;
    }
}
h3 {
    font-size: 2.4rem;
}
@media (min-width: 768px) {
    h3 {
        font-size: 3rem;
    }
}
a {
    text-decoration: none;
    color: #000;
}
.contenedor {
    max-width: 120rem;
    margin: 0 auto;
}
img {
    max-width: 100%;
    display: block;
}
.btn {
    background-color: #8cbc00;
    display: block;
    color: #FFF;
    text-transform: uppercase;
    font-weight: 900;
    padding: 1rem;
    transition: background-color .3s ease-out ;
    text-align: center;
    border: none;
    width: 100%;
}
.btn:hover {
    background-color: #769c02;
    cursor: pointer;
}
@media (min-width: 768px) {
    .btn {
        width: auto;
    }
}
/** Utilidades */
.text-center {
    text-align: center;
}

@media (min-width: 768px) {
    .max-width-30 {
        max-width: 30rem;
    }
}
/* HEADER Y NAVEGACION */
.header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.iconos{
    text-align: center;
    display: block;
    max-width: max-content;
    margin: auto;
}
.iconos a {
    display: block;
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .iconos a {
        display: inline-block;
    }
}
.fa-bars {
    font-size: 3rem;
}
@media (min-width: 768px) {
    .fa-bars{
        display: none;
    }
}
.titulo-enlace{
    display: block;
    width: max-content;
    margin: 5rem auto 0;
}
.titulo span {
    color: #037bc0;
}
.nav-principal{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    visibility: hidden;
    height: 0;
}
.mostrar-nav{
    visibility: visible;
    height: auto;
}
.nav-principal a{
    width: 100%;
    padding: 1.5rem 0;
    transition: background-color 0.5s;
}
.nav-principal a:hover{
    background-color: #e1e1e1;
}
@media (min-width: 768px) {
    .nav-principal {
        justify-content: space-between;
        flex-direction: row;
        visibility: visible;
        height: auto;
    }
}
/* HERO */
.hero{
    background-image: url(/img/principal.jpg);
    height: 30rem;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
}
@media (min-width: 768px) {
    .hero{
        height: 55rem;
    }
}
/* CATEGORIA PRODUCTOS */
.categorias h2 {
    margin: 5rem 0;
}
.listado-productos {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    margin-bottom: 5rem;
}
@media (min-width: 768px) {
    .listado-productos{
        flex-direction: row;
        justify-content: space-between;
    }
}
.categoria a {
    padding: 2rem;
    font-size: 1.8rem;
    display: block;
    text-align: center;
    border-radius: 0 0 2rem 0;
    transition: background-color 0.2s;
}
.categoria a:hover{
    background-color: #037bc0;
    color: #fff;
}
/* SOBRE NOSOTROS */
.nosotros {
    background-image: linear-gradient(to bottom, transparent 50%,  50%, #037bc0 100%) , url(../img/nosotros.jpg);
    background-repeat: no-repeat;
    background-position: center, top left;
    background-size: 100%, 70rem;
}
@media (min-width: 768px) {
    .nosotros {
        background-image: linear-gradient(to right, transparent 50%, #037bc0 50%, #037bc0 100%) , url(../img/nosotros.jpg);
        background-repeat: no-repeat;
        background-position: left center;
        padding: 10rem 0;
        background-size: 100%, 120rem;
    }
}
.nosotros-grid{
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    gap: 2rem;
}
@media (min-width: 768px) {
    .nosotros-grid{
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: unset;
        column-gap: 10rem;
    }
}
.texto-nosotros{
    grid-row: 2/3;
    color: #fff;
    padding: 5rem;
}
@media (min-width: 768px) {
    .texto-nosotros{
        grid-column: 2/3;
    }
}
/* MENU */
/* CONTENIDO PRINCIPAL */
.contenido-principal{
    padding-top: 5rem;
}
@media (min-width: 768px) {
    .lista-productos {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        gap: 2rem;
    }
    .producto:nth-child(1) {
        grid-column: 1 / 7;
        display: grid;
        grid-template-columns: 3fr 1fr;
    }
    .producto:nth-child(1) img {
        height: 43rem;
        width: 100%;
        object-fit: cover;
    }
    .producto:nth-child(2) {
        grid-column: 1/4;
    }
    .producto:nth-child(3) {
        grid-column: 4/7;
    }
    .producto:nth-child(2) img,
    .producto:nth-child(3) img {
        height: 30rem;
        width: 100%;
        object-fit: cover;
    }
    .producto:nth-child(4) {
        grid-column: 1/3;
    }
    .producto:nth-child(5) {
        grid-column: 3/5;
    }
    .producto:nth-child(6) {
        grid-column: 5/7;
    }
}
.producto {
    margin-bottom: 2rem;
}
@media (min-width: 768px) {
    .producto{
        margin-bottom: 0;
    }
}
.producto:last-of-type{
    margin-bottom: 0;
}
.texto-producto{
    padding: 2rem;
    background-color: #037bc0;
    color: #fff;
}
.texto-producto h3 {
    margin: 0;
}
.texto{
    margin: 0;
}
.precio {
    font-weight: 900;
    font-size: 2.8rem;
    margin: 0;
}
/* FOOTER */
.footer{
    border-top: 1px solid #e1e1e1;
    margin-top: 5rem;
    padding-top: 5rem;
}
.listado-footer {
    display: grid;
    justify-content: center;
    text-align: center;
    gap: 2rem;
}
@media (min-width: 768px) {
    .listado-footer{
        grid-template-columns: repeat(3,1fr);
        text-align: left;
    }
}
.lista h3{
    margin: 1rem 0;
}
.nav-footer a{
    display: block;
}
.nav-footer a:hover{
    color: #037bc0;
}
.derechos {
    text-align: center;
    margin-top: 5rem;
}
/* DARK MODE */
.dark-mode {
    background-color: #000;
}
.dark-mode h1,
.dark-mode h2,
.dark-mode h3,
.dark-mode a,
.dark-mode p,
.dark-mode {
    color: #fff;
}
.dark-mode img{
    opacity: 70%;
}
.dark-mode .nav-principal a:hover,
.dark-mode .categoria a:hover{
    background-color: #0a4f77;
}
.dark-mode .btn {
    background-color: #858680;
}
.dark-mode .btn:hover{
    background-color: #696965;
}
.dark-mode .header {
    border-bottom: 1px solid rgba(255, 255, 255, 0.418);
}
.producto-dark {
    background-color: #0a4f77;
}
.nosotros-dark {
    background-image: linear-gradient(to right, transparent 50%, #0a4f77 50%, #0a4f77 100%), url(../img/nosotros.jpg);
}
.dark-mode .formulario fieldset {
    border: 1px solid #fff;
}
.dark-mode .formulario .input {
    background-color: #e1e1e1;
}
.dark-mode .fijo{
    background-color: #000;
}
.dark-mode .overlay {
    background-color: rgba(78, 73, 73, 0.9);
}
.dark-mode .cerrar-modal {
    color: #000;
}
/* NOSOTROS */
.contenido-nosotros{
    display: grid;
    gap: 2rem;
}
@media (min-width: 768px) {
    .contenido-nosotros{
        grid-template-columns: repeat(2,1fr);
    }
}
.informacion-nosotros{
    padding: 0 1rem 1rem 1rem;
}
.informacion-nosotros h4 {
    font-size: 2.5rem;
}
/* BLOG */
.contenedor-blog{
    display: grid;
    gap: 4rem;
}
@media (min-width: 768px) {
    .contenedor-blog{
        grid-template-columns: 2fr 1fr;
    }
}
.entrada{
    border-bottom: 2px solid #e1e1e1;
    padding-bottom: 4rem;
    margin-bottom: 3rem;
}
.entrada:last-of-type{
    border: none;
}
.entrada h2 {
    text-align: center;
}
@media (min-width: 768px) {
    .entrada h2 {
        text-align: left;
    }
}
.contenedor-entrada{
    padding: 2rem;
}
.contenedor-entrada a {
    display: block;
    width: 100%;
}
@media (min-width: 768px) {
    .contenedor-entrada a {
        width: 30rem;
    }
}
.entrada-meta {
    display: block;
}
@media (min-width: 768px) {
    .entrada-meta{
        display: flex;
        justify-content: space-between;
    }
}
.entrada-meta p {
    font-weight: bold;
}
.entrada-meta span {
    color: #037bc0;
}
.entrada-contenido-blog {
    max-width: 60rem;
    margin: 0 auto;
}
.entrada-contenido-blog h2{
    text-align: center;
}
/* GALERIA IMAGENES */
.contenedor-galeria {
    display: grid;
    gap: 2rem;
    padding: 1rem;
}
@media (min-width: 768px) {
    .contenedor-galeria{
        grid-template-columns: repeat(3,1fr);
        padding: 0;
    }
}
.contenedor-galeria img {
    height: 40rem;
    object-fit: cover;
}
.overlay{
    position: fixed;
    top: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    width: 100%;
    height: 100%;
    z-index: 11;
}
.overlay img{
    width: 80rem;
    height: 50rem;
    object-fit: cover;
}
.fijar-body{
    overflow: hidden;
}
.cerrar-modal{
    background-color: #fff;
    font-size: 2rem;
    font-weight: bold;
    width: 4rem;
    height: 4rem;
    text-align: center;
    border-radius: 50%;
    cursor: pointer;
    margin: 1rem auto 0;
}
/* FORMULARIO */
.formulario {
    max-width: 60rem;
    margin: 0 auto;
    padding: 1rem;
}
.formulario fieldset{
    border: 1px solid black;
    margin-bottom: 3rem;

}
.formulario legend{
    background-color: #005485;
    padding: 1rem;
    color: #fff;
    font-weight: 900;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    margin-bottom: 3rem;
}
.campo{
    display: flex;
    margin-bottom: 2rem;
}
.campo label {
    flex-basis: 10rem;
}
.campo .input {
    flex: 1;
    border: 1px solid #e1e1e1;
    padding: 1rem;
}
.campo textarea {
    height: 20rem;
}
.campo-radio{
    display: flex;
    align-items: center;
}
/* NAVEGACION FIJA */
.fijo {
    position: fixed;
    background-color: #fff;
    width: 100%;
    display: flex;
    align-items: center;
    height: 8rem;
    transition: all 0.5s;
    z-index: 10;
}
.fijo .iconos {
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
    gap: 2rem;
}
.fijo .titulo-enlace{
    margin: 1rem auto 0;
}
.fijo .titulo-enlace h1 {
    font-size: 3.5rem;
}
